In [24]:
#1
for N in [1,2,3,4,5]:
    print(N)
#2 
for N in [1,2,3,4,5]:
    print(N, end='')

1
2
3
4
5
12345

In [25]:
#3
for N in [1,2,3,4,5]:
    print(N, end='')

12345

In [26]:
#4

(list(range(1,6)))

[1, 2, 3, 4, 5]

In [27]:
#5
for N in range (3,31,3):
    print (N)

3
6
9
12
15
18
21
24
27
30

In [29]:
#6
total =0
for N in range (1,6):
    total += N
print (total)

15

In [30]:
#7
places = ["kamigyo ku","nakagyo ku", "sakyo ku"]
new_places =[]

for place in places
    new_places.append(place.capitalize().replace("",""))

SyntaxError: invalid syntax (<ipython-input-30-98cdb34fe3b1>, line 5)

In [32]:
total =0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

for object, calculate in basket_items.items():
    if object in fruits:
        total += calculate
print("There are {} fruits in the basket.".format(total))

There are 23 fruits in the basket.